@tailwind base;
@tailwind components;
@tailwind utilities;

/* custom css for gallery */
.gallery {
  -webkit-column-count: 3;
  -moz-column-count: 3;
  column-count: 3;
  -webkit-column-width: 33%;
  -moz-column-width: 33%;
  column-width: 33%;
}

.gallery .pics {
  transition: all 350ms ease;
  transition: all 350ms ease;
  cursor: pointer;
  margin-bottom: 4px;
}

@media (max-width: 991px) {
  .gallery {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
  }
}
@media (max-width: 480px) {
  .gallery {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
  }
}
@keyframes marquee {
  0% {
    transform: translateX(90%);
  }
  100% {
    transform: translateX(-100%);
  }
}

@layer utilities {
  .animate-marquee {
    animation: marquee 15s linear infinite;
  }
}
